In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
a=[1,3,6]
b=pd.Series(a)
print(b)

0    1
1    3
2    6
dtype: int64

In [22]:
import pandas as pd
a=[1,3,6]
b=pd.Series(a,index=["x","y","z"])
print(b)

x    1
y    3
z    6
dtype: int64

In [24]:
import pandas as pd
a=[1,3,6]
b=pd.Series(a,index=["x","y","z"])
print(b["y"])

3

In [28]:
#using dictionary
import pandas as pd
calories={"day1":420,"day2":483,"day3":490}
a=pd.Series(calories)
print(a)

day1    420
day2    483
day3    490
dtype: int64

In [38]:
#data frame
import pandas as pd
a={
    "calories":[147,456,554],
    "duration":[50,60,80]
   }
df=pd.DataFrame(a)
df#print kodukanam enn illa

   calories  duration
0       147        50
1       456        60
2       554        80

In [40]:
import pandas as pd
a={
    "calories":[147,456,554],
    "duration":[50,60,80]
   }
df=pd.DataFrame(a)
print(df.loc[0])

calories    147
duration     50
Name: 0, dtype: int64

In [44]:
#to load file into data frame
import pandas as pd
df=pd.read_csv('onlinefoods.csv')
df

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Yes
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Yes
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive,Yes
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,23,Female,Single,Student,No Income,Post Graduate,2,12.9766,77.5993,560001,Yes,Positive,Yes
384,23,Female,Single,Student,No Income,Post Graduate,4,12.9854,77.7081,560048,Yes,Positive,Yes
385,22,Female,Single,Student,No Income,Post Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
386,23,Male,Single,Student,Below Rs.10000,Post Graduate,2,12.9770,77.5773,560009,Yes,Positive,Yes
387,23,Male,Single,Student,No Income,Post Graduate,5,12.8988,77.5764,560078,Yes,Positive,Yes

In [52]:
import pandas as pd
df=pd.read_csv('onlinefoods.csv')
print(df.to_string())

     Age  Gender     Marital Status      Occupation   Monthly Income Educational Qualifications  Family size  latitude  longitude  Pin code Output   Feedback Unnamed: 12
0     20  Female             Single         Student        No Income              Post Graduate            4   12.9766    77.5993    560001    Yes   Positive         Yes
1     24  Female             Single         Student   Below Rs.10000                   Graduate            3   12.9770    77.5773    560009    Yes   Positive         Yes
2     22    Male             Single         Student   Below Rs.10000              Post Graduate            3   12.9551    77.6593    560017    Yes  Negative          Yes
3     22  Female             Single         Student        No Income                   Graduate            6   12.9473    77.5616    560019    Yes   Positive         Yes
4     22    Male             Single         Student   Below Rs.10000              Post Graduate            4   12.9850    77.5533    560010    Yes   Positive         Yes
5     27  Female            Married        Employee  More than 50000              Post Graduate            2   12.9299    77.6848    560103    Yes   Positive         Yes
6     22    Male             Single         Student        No Income                   Graduate            3   12.9770    77.5773    560009    Yes   Positive         Yes
7     24  Female             Single         Student        No Income              Post Graduate            3   12.9828    77.6131    560042    Yes   Positive         Yes
8     23  Female             Single         Student        No Income              Post Graduate            2   12.9766    77.5993    560001    Yes   Positive         Yes
9     23  Female             Single         Student        No Income              Post Graduate            4   12.9854    77.7081    560048    Yes   Positive         Yes
10    22  Female             Single         Student        No Income              Post Graduate            5   12.9850    77.5533    560010    Yes   Positive         Yes
11    23    Male             Single         Student   Below Rs.10000              Post Graduate            2   12.9770    77.5773    560009    Yes  Negative          Yes
12    23    Male             Single         Student        No Income              Post Graduate            5   12.8988    77.5764    560078    Yes   Positive         Yes
13    21    Male             Single         Student        No Income                   Graduate            4   12.9770    77.5773    560009    Yes   Positive         Yes
14    23  Female             Single  Self Employeed   10001 to 25000              Post Graduate            5   12.9438    77.5738    560004    Yes   Positive         Yes
15    24  Female             Single         Student        No Income              Post Graduate            6   12.8893    77.6399    560068    Yes   Positive         Yes
16    28  Female             Single        Employee   25001 to 50000              Post Graduate            2   12.9783    77.6408    560038    Yes   Positive         Yes
17    23  Female             Single         Student        No Income                   Graduate            3   12.9820    77.6256    560008    Yes  Negative          Yes
18    25    Male             Single         Student        No Income                   Graduate            4   12.8988    77.5764    560078    Yes  Negative          Yes
19    21  Female             Single         Student   Below Rs.10000              Post Graduate            1   12.9783    77.6408    560038    Yes   Positive         Yes
20    24    Male             Single         Student        No Income              Post Graduate            3   12.9770    77.5773    560009    Yes   Positive         Yes
21    22    Male             Single         Student        No Income              Post Graduate            4   13.0298    77.6047    560032    Yes   Positive         Yes
22    22  Female             Single         Student        No Income                   Graduate            4   12.9983    77.6409    560033    Yes   Positive         Yes
23    23    Male             Single         Student        No Income                   Graduate            4   12.9925    77.5633    560021    Yes   Positive         Yes
24    21    Male             Single         Student   Below Rs.10000              Post Graduate            3   12.9306    77.5434    560085    Yes   Positive         Yes
25    25    Male             Single         Student        No Income              Post Graduate            3   12.9820    77.6256    560008    Yes   Positive         Yes
26    22  Female             Single         Student        No Income              Post Graduate            5   12.9353    77.5585    560050    Yes   Positive         Yes
27    22    Male             Single         Student        No Income              Post Graduate            3   12.9155    77.5135    560098    Yes   Positive         Yes
28    23  Female             Single        Employee   10001 to 25000                   Graduate            3   12.9854    77.7081    560048    Yes   Positive         Yes
29    22    Male             Single         Student   Below Rs.10000              Post Graduate            4   13.0019    77.5713    560003    Yes   Positive         Yes
30    22  Female             Single        Employee   10001 to 25000                   Graduate            5   12.9698    77.7500    560066    Yes   Positive         Yes
31    22    Male             Single         Student        No Income              Post Graduate            4   12.9783    77.6408    560038    Yes   Positive         Yes
32    25    Male            Married        Employee  More than 50000                       Ph.D            4   12.9261    77.6221    560034    Yes   Positive         Yes
33    22  Female             Single         Student   10001 to 25000              Post Graduate            5   12.9850    77.5533    560010    Yes   Positive         Yes
34    22  Female             Single         Student        No Income              Post Graduate            2   12.9119    77.6446    560102    Yes   Positive         Yes
35    25    Male             Single         Student   10001 to 25000              Post Graduate            3   12.9306    77.5434    560085    Yes   Positive         Yes
36    25    Male             Single         Student        No Income              Post Graduate            5   12.9770    77.5773    560009     No   Positive          No
37    32  Female  Prefer not to say      House wife        No Income                   Graduate            5   12.9820    77.6256    560008    Yes  Negative          Yes
38    23  Female             Single         Student        No Income              Post Graduate            3   12.9438    77.5738    560004    Yes   Positive         Yes
39    23  Female             Single         Student        No Income              Post Graduate            4   12.8988    77.5764    560078    Yes   Positive         Yes
40    30    Male            Married  Self Employeed  More than 50000                 Uneducated            4   12.9662    77.6068    560025    Yes  Negative          Yes
41    23    Male             Single         Student        No Income                   Graduate            3   12.9565    77.5484    560026    Yes   Positive         Yes
42    23    Male             Single         Student        No Income              Post Graduate            4   12.9925    77.5633    560021    Yes   Positive         Yes
43    22  Female             Single         Student        No Income              Post Graduate            5   12.9850    77.5533    560010    Yes   Positive         Yes
44    22    Male             Single         Student        No Income                   Graduate            5   12.9850    77.5533    560010    Yes   Positive         Yes
45    27  Female            Married  Self Employeed   10001 to 25000              Post Graduate            2   12.9261    77.6221    560034    Yes   Positive         Yes
46    24  Female             Single         Student        No Income              Post Graduate            3   12.9770    77.5773    560009    Yes   Positive         Yes
47    23    Male             Single         Student        No Income              Post Graduate            2   12.9770    77.5773    560009    Yes   Positive         Yes
48    23  Female             Single         Student        No Income                   Graduate            3   12.9820    77.6256    560008    Yes  Negative          Yes
49    22  Female             Single         Student   10001 to 25000              Post Graduate            5   12.9850    77.5533    560010    Yes   Positive         Yes
50    23  Female             Single         Student        No Income                   Graduate            5   13.0206    77.6479    560043    Yes   Positive         Yes
51    23  Female             Single         Student        No Income              Post Graduate            2   12.9770    77.5773    560009    Yes   Positive         Yes
52    24    Male             Single         Student        No Income              Post Graduate            3   12.9770    77.5773    560009    Yes   Positive         Yes
53    25    Male             Single         Student        No Income              Post Graduate            2   12.9635    77.5821    560002    Yes   Positive         Yes
54    22    Male             Single         Student        No Income              Post Graduate            3   12.9306    77.5434    560085    Yes   Positive         Yes
55    28  Female            Married         Student        No Income                   Graduate            2   13.0067    77.5450    560086    Yes   Positive         Yes
56    22  Female             Single         Student        No Income              Post Graduate            1   12.8845    77.6036    560076    Yes   Positive         Yes
57    24  Female             Single         Student        No Income                   Graduate            3   12.9770    77.5773    560009    Yes   Positive         Yes
58    31    Male            Married        Employee  More than 50000                       Ph.D            5   12.9119    77.6446    560102    Yes   Positive         Yes
59    25    Male             Single         Student        No Income              Post Graduate            4   13.0067    77.5450    560086    Yes   Positive         Yes
60    23    Male             Single         Student        No Income              Post Graduate            5   12.8988    77.5764    560078    Yes   Positive         Yes
61    22    Male             Single         Student        No Income              Post Graduate            3   12.8845    77.6036    560076    Yes   Positive         Yes
62    23    Male             Single         Student   25001 to 50000              Post Graduate            1   13.0158    77.5390    560096    Yes   Positive         Yes
63    23    Male             Single         Student        No Income                   Graduate            4   12.9343    77.6044    560029    Yes   Positive         Yes
64    23  Female             Single         Student        No Income              Post Graduate            2   13.0019    77.5713    560003    Yes   Positive         Yes
65    25    Male             Single         Student        No Income              Post Graduate            6   13.0012    77.5995    560046    Yes   Positive         Yes
66    24    Male             Single        Employee   10001 to 25000                   Graduate            4   12.9442    77.6076    560030    Yes   Positive         Yes
67    23  Female             Single         Student        No Income              Post Graduate            4   13.0487    77.5923    560024    Yes   Positive         Yes
68    23  Female             Single         Student        No Income              Post Graduate            4   13.0487    77.5923    560024    Yes   Positive         Yes
69    24  Female            Married        Employee  More than 50000                       Ph.D            4   12.9438    77.5738    560004    Yes   Positive         Yes
70    22    Male             Single         Student        No Income                   Graduate            4   12.9889    77.5741    560020    Yes   Positive         Yes
71    24  Female             Single         Student   10001 to 25000              Post Graduate            3   12.9335    77.5691    560028     No   Positive          No
72    25  Female             Single         Student        No Income              Post Graduate            3   12.9766    77.5993    560001    Yes   Positive         Yes
73    23    Male             Single         Student        No Income              Post Graduate            2   12.8845    77.6036    560076    Yes   Positive         Yes
74    26    Male             Single         Student        No Income              Post Graduate            4   13.0019    77.5713    560003    Yes   Positive         Yes
75    24  Female             Single         Student   25001 to 50000              Post Graduate            3   13.1020    77.5864    560064    Yes   Positive         Yes
76    26    Male             Single         Student        No Income              Post Graduate            4   12.9048    77.6821    560036    Yes   Positive         Yes
77    21    Male             Single         Student        No Income                   Graduate            4   12.9770    77.5773    560009    Yes   Positive         Yes
78    22  Female             Single         Student        No Income              Post Graduate            3   12.9770    77.5773    560009    Yes   Positive         Yes
79    24    Male             Single         Student        No Income              Post Graduate            5   12.9337    77.5900    560011    Yes   Positive         Yes
80    24    Male             Single         Student   10001 to 25000              Post Graduate            4   12.9037    77.5376    560061    Yes   Positive         Yes
81    23  Female             Single         Student        No Income              Post Graduate            3   12.9770    77.5773    560009    Yes   Positive         Yes
82    23    Male             Single         Student        No Income              Post Graduate            3   12.9343    77.6044    560029    Yes   Positive         Yes
83    22    Male             Single         Student        No Income              Post Graduate            3   12.9438    77.5738    560004    Yes   Positive         Yes
84    23    Male             Single         Student        No Income              Post Graduate            3   12.9770    77.5773    560009    Yes   Positive         Yes
85    24  Female             Single         Student        No Income              Post Graduate            4   12.9783    77.6408    560038    Yes   Positive         Yes
86    24    Male             Single         Student        No Income              Post Graduate            5   12.9337    77.5900    560011    Yes   Positive         Yes
87    25    Male             Single         Student        No Income                   Graduate            1   12.9770    77.5773    560009    Yes   Positive         Yes
88    25    Male             Single         Student        No Income              Post Graduate            5   12.9770    77.5773    560009     No   Positive          No
89    28    Male            Married  Self Employeed   10001 to 25000                   Graduate            2   13.0289    77.5400    560022     No  Negative           No
90    27  Female  Prefer not to say        Employee   25001 to 50000              Post Graduate            5   13.0289    77.5400    560022     No   Positive          No
91    26    Male             Single  Self Employeed   10001 to 25000                       Ph.D            1   12.9698    77.7500    560066     No   Positive          No
92    22    Male             Single         Student        No Income              Post Graduate            2   12.9770    77.5773    560009    Yes   Positive         Yes
93    24  Female             Single         Student        No Income              Post Graduate            3   12.9770    77.5773    560009    Yes   Positive         Yes
94    23    Male             Single         Student        No Income              Post Graduate            1   12.9561    77.5921    560027    Yes   Positive         Yes
95    25    Male             Single         Student        No Income                   Graduate            1   12.9770    77.5773    560009    Yes   Positive         Yes
96    23  Female             Single         Student        No Income                   Graduate            5   13.0206    77.6479    560043    Yes   Positive         Yes
97    23  Female             Single         Student        No Income                   Graduate            5   13.0206    77.6479    560043    Yes   Positive         Yes
98    26    Male            Married        Employee   25001 to 50000                   Graduate            5   12.9579    77.6309    560007     No   Positive          No
99    32  Female            Married      House wife        No Income                 Uneducated            3   13.0140    77.5658    560012     No   Positive          No
100   24  Female             Single         Student   10001 to 25000              Post Graduate            3   12.9335    77.5691    560028     No   Positive          No
101   23    Male             Single         Student        No Income              Post Graduate            2   12.9442    77.6076    560030    Yes   Positive         Yes
102   22  Female             Single        Employee   10001 to 25000                   Graduate            3   12.9698    77.7500    560066    Yes   Positive         Yes
103   24  Female             Single         Student        No Income                       Ph.D            3   12.9438    77.5738    560004    Yes   Positive         Yes
104   26    Male             Single        Employee   25001 to 50000                   Graduate            2   12.9261    77.6221    560034    Yes  Negative          Yes
105   28    Male            Married        Employee  More than 50000                   Graduate            3   12.9698    77.7500    560066     No   Positive          No
106   26    Male             Single        Employee  More than 50000              Post Graduate            2   12.9698    77.7500    560066     No   Positive          No
107   25    Male             Single         Student        No Income              Post Graduate            1   12.9343    77.6044    560029    Yes   Positive         Yes
108   25    Male             Single        Employee   Below Rs.10000                   Graduate            2   12.9698    77.7500    560066     No   Positive          No
109   18    Male             Single         Student        No Income                   Graduate            5   12.9635    77.5821    560002    Yes   Positive         Yes
110   21    Male             Single         Student        No Income              Post Graduate            4   12.9770    77.5773    560009    Yes   Positive         Yes
111   25    Male             Single         Student        No Income              Post Graduate            1   12.9343    77.6044    560029    Yes   Positive         Yes
112   25    Male             Single         Student   Below Rs.10000              Post Graduate            2   12.9925    77.5633    560021    Yes   Positive         Yes
113   23  Female             Single         Student        No Income                   Graduate            5   13.0206    77.6479    560043    Yes   Positive         Yes
114   23    Male             Single        Employee   10001 to 25000              Post Graduate            2   12.9850    77.5533    560010    Yes   Positive         Yes
115   25  Female            Married        Employee   25001 to 50000                   Graduate            4   12.9551    77.6593    560017     No  Negative           No