In [3]:
# import packages 
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split 
  
# importing data 
df = pd.read_csv('headbrain1.csv') 
  
# head of the data 
print(df.head()) 
  
X = df['Head Size(cm^3)'].values.reshape(-1, 1)  # Reshape for a single feature
y = df['Brain Weight(grams)'] 
  
# using the train test split function 
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                      random_state=104,  
                                                      test_size=0.25,  
                                                      shuffle=True) 
  
# printing out train and test sets 
print('X_train : ') 
print(X_train[:5])  # Print first 5 samples of X_train
print('') 
print('X_test : ') 
print(X_test[:5])  # Print first 5 samples of X_test
print('') 
print('y_train : ') 
print(y_train.head()) 
print('') 
print('y_test : ') 
print(y_test.head())

   Head Size(cm^3)  Brain Weight(grams)
0             4512                 1530
1             3738                 1297
2             4261                 1335
3             3777                 1282
4             4177                 1590
X_train :
[[3478]
 [4270]
 [3479]
 [3171]
 [3399]]

X_test :
[[3415]
 [3594]
 [3436]
 [4204]
 [4430]]

y_train :
99     1270
52     1335
184    1160
139    1127
107    1226
Name: Brain Weight(grams), dtype: int64

y_test :
66     1310
113    1290
135    1235
227    1380
68     1510
Name: Brain Weight(grams), dtype: int64

In [5]:
#task
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
df=pd.read_csv('cardata.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [7]:
X=df[['Car_Name','Year','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']]
y=df['Selling_Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=104, test_size=0.25, shuffle=False)
# print(X_train)
print(X_train.head())
# print(X_train.shape())
print(X_test.head())
print(f'y \n{y_train.head()}')
print(y_test.head())

  Car_Name  Year  Present_Price  Kms_Driven Fuel_Type Seller_Type  \
0     ritz  2014           5.59       27000    Petrol      Dealer
1      sx4  2013           9.54       43000    Diesel      Dealer
2     ciaz  2017           9.85        6900    Petrol      Dealer
3  wagon r  2011           4.15        5200    Petrol      Dealer
4    swift  2014           6.87       42450    Diesel      Dealer

  Transmission  Owner
0       Manual      0
1       Manual      0
2       Manual      0
3       Manual      0
4       Manual      0
      Car_Name  Year  Present_Price  Kms_Driven Fuel_Type Seller_Type  \
225        i10  2011           4.60       22517    Petrol      Dealer
226  grand i10  2015           5.70       24678    Petrol      Dealer
227        i10  2011           4.43       57000    Petrol      Dealer
228      verna  2012           9.40       60000    Diesel      Dealer
229        i20  2012           6.79       52132    Diesel      Dealer

    Transmission  Owner
225       Manual      0
226       Manual      0
227       Manual      0
228       Manual      0
229       Manual      0
y
0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64
225    2.70
226    5.25
227    2.55
228    4.95
229    3.10
Name: Selling_Price, dtype: float64